@import "reset";
@import "variables";
@import "mixins";

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

@import "sections/header";
@import "sections/recent-posts";
@import "sections/footer";
