.page-body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.title-link {
  display: block;
  width: 334px;
  height: 79px;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  text-decoration: none;
  margin: 61px 1048px 38px 0;
  color: #000000;
}
.accent-color {
  color: #4bcaff;
}
.header-nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background-color: #35444f;
}

.header-nav-menu-link {
  color: #ffffff;
  border-left: 1px solid #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  padding: 26px 40px;
}

.main-section {
  margin-top: 50px;
  display: flex;
}
.sidebar {
  margin-right: 52px;
}
.sidebar-nav-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: block;
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
}
.sidebar-nav-item {
  display: flex;
}
.sidebar-nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  align-items: center;
  color: #485863;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-left: 44px;
}
.picture-block {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-block img {
  -webkit-transition: all 1s ease-out;
}

.picture-block img:hover {
  -webkit-transform: scale(1.1);
}
.main-section-text {
  margin-top: 37px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #2c2c2c;
}
.footer-section {
  margin-top: 54px;
  display: flex;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
}
.footer-nav-menu {
  width: 928px;
  padding: 0;
  margin: 0 0 0 40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  text-decoration: none;
}
.footer-copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  color: #010101;
  margin: auto 40px auto 82px;
}
